*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
/* shared style*/
.raleway{
  font-family: "Raleway", sans-serif;
}
.inter{
font-family: "Inter", sans-serif;
}
body{
  background-color:rgb(245, 248, 255);
}
main{
  max-width: 1140px;
  margin: 0 auto;
}
header{
  background-image: url('Assets/Hero-bg.png');
  width: 100%;
  max-width: 1440px;
  height: 698px;
}
nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
}
.nav-title{
  font-family: "Inter", sans-serif;
  font-size: 34px;
  color:#4E47FF;
}
.btn-primary{
  font-family: "Raleway", sans-serif;
  width: 132px;
  height: 48px;
  font-size: 16px;
  font-weight:bold;
  background-color: #4E47FF;
  border:none;
  color:#FFFFFF;
  border-radius: 10px;
}
.banner-title{
  font-size: 65px;
  color:#252432;
  font-weight: bold;
  margin-bottom: 37px;
}
.banner{
  width: 905px;
  height: 237px;
  text-align: center;
  margin: 150px auto;
}
.banner .btn-primary{
  width: 174px;
}
.action-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
  height: 328px;
  margin: 116px auto;
}
.action-box .btn-primary{
  width: 229px;
}
.action-image{
  width: 403px;
  height: 328px;
  border-radius: 48px;
}
.action-content{
  width: 517px;
  height: 203px;
  margin-top: 62.5px;
  margin-left:0;
  margin-bottom: 62.5px;
}
.action-title{
  font-size: 42px;
  font-weight: bold;
  line-height: auto;
}
.action-description{
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}
.action-title, .action-description{
  margin-bottom: 23px;
}
.productive-user{
  width: 1140px;
  height: 306px;
  background-color: #4E47FF10;
  border-radius: 24px;
  padding: 50px 142px;
  text-align: center;
  box-sizing: border-box;
}
.user-title{
  font-size: 38px;
  font-weight: bold;
  line-height: auto;
  max-width: 856px;
  margin-bottom: 40px;
}
.user-data{
  display:flex;
  justify-content: space-around;
  width: 856px;
  height: 121px;
  gap: 158px;
}
.number{
  font-size: 80px;
  font-weight: bold;
  line-height: auto;
  color: #4E47FF;
}
.subtitle{
  font-size: 20px;
  font-weight: 400;
  color:#00000050;
}
.user-feedback{
  margin: 137px auto;
}
.user-feedback .user-feedback-title{
  text-align: center;
  color: #252432;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 50px;
}
.feedback-box{
  display: flex;
  justify-content: space-around;
  /* background-color: #FFFFFF50; */
  
}
.feedback-content{
  background-color: #FFFFFF50;
  padding:24px;
  border-radius: 14px;
  border: 1px solid #F2EDED;
}
.review{
  display: flex;
  align-items: center;
  gap: 10px;
}
.reviewer{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.feedback-content{
  max-width: 366.67px;
  height: 243px;
}
.feedback-title{
  margin-top: 24px;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -2%;
}
.feedback-description{
  margin-top: 10px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.focus-section{
  text-align: center;
  padding: 71px 150px;
  background-color: #FFFFFF;
  border-radius: 20px;
}
.focus-section *{
  margin-bottom: 20px;
}
.focus-section .btn-primary{
  display: block;
  margin: 0 auto;
  width: 195px;
  height: 48px;
  margin-bottom: 20px;
}
.focus-title{
  color:#000000;
  font-size: 50px;
  font-weight: bold;
  line-height: 120%;
}
.focus-description{
  color:#00000050;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
}
.focus-image{
  width: 840px;
  height: 364.77px;
  border-radius: 48px;
}
.get-in-touch{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 92.2px auto 14px auto;
  padding: 71px 0px;
}
.get-in-touch-form{
  width: 497px;
  height: 490px;
}

.get-in-touch-form .btn-primary{
font-size: 16px;
color:white;
}
.get-in-touch-form *{
  width: 497px;
}
.get-in-touch-title{
  width: 528px;
  height: 232px;
  padding-left: 0;
  /* padding-top: 200px; */
  padding-bottom: 200px;
  font-size: 97px;
  font-weight: bold;
  line-height: 120%;
}
.get-in-touch-form input{
margin-top: 10px;
margin-bottom: 19px;
height: 70px;
padding:20px 15px;
font-size: 20px;
color:#00000030;
font-weight: 400;
line-height: 150%;
border: 1px solid #D6DDED;
border-radius:10px;
}
.get-in-touch-form textarea{
  height: 135px;
  padding:15px 15px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  border: 1px solid #D6DDED;
  border-radius:10px;
}
.get-in-touch-form label {
  font-size: 18px;
}
footer ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 401px;
  margin: 0 auto;

}
footer .footer-title{
  font-size: 100px;
  font-weight: black;
  line-height: auto;
}
footer{
 text-align: center;
 background-color: #FFFFFF;
 width: 1440px;
 height: 428px;
 padding: 104px 455px 103px 454px;
}
.footer-subtitle, footer ul li a{
  font-size: 16px;
  color: #8987A1;
  font-weight: 400;
  line-height: 150%;
  margin-top: 8px;
  margin-bottom: 20px;
}
footer ul li a{
  text-decoration: none;
}
.btn-primary:hover{
  background: linear-gradient(135deg, #3F38E0, #A0A5FF);
  color: #ffffff;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
  font-size: 20px;
}